* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #228f55, #2bb56c);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 10rem;
  color: #f3f3f3;
}
